<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @factoriall.n %>
</p>

<p>
  <strong>Result:</strong>
  <%= @factoriall.result %>
</p>

<%= link_to 'Edit', edit_factoriall_path(@factoriall) %> |
<%= link_to 'Back', factorialls_path %>
